.usage{
    background-image:url(../images/bgg.png) ;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
    .steps{
       
       display: inline-block;
       position: absolute;
       top: 25%;
       right: 10%;
       h1{
          background-color: white;
          padding: 10px;
          opacity: 0.5;
       }
       ol{
        li{
            margin: 30px 0px;
            font-weight: 1000;
            padding: 7px;
            background-color: white; 
            opacity: 0.3;
            // visibility: hidden;
        }
       }
    }
}